{% extends "email_base.html" %}
{% block content %}
<h1 style="font-size: 24px; margin: 0 0 20px 0; color: #000000;">Welcome to {{ meta.og_title
    }}!</h1>
<p style="margin: 0 0 20px 0; color: #333333;">Click the button below to sign in to your
    account:</p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td align="center" style="border-radius: 5px;" bgcolor="#000000">
            <a href="{{ magic_link }}" target="_blank"
                style="font-size: 20px; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; padding: 14px 22px; border: 1px solid #000000; display: inline-block;">Sign
                In</a>
        </td>
    </tr>
</table>
<p style="margin: 20px 0; color: #333333;">If you did not request this e-mail, please ignore
    it.</p>
{% endblock %}